In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [15]:
rd=pd.read_csv("UpdatedResumeDataSet.csv")
rd.head(20)

        Category                                             Resume
0   Data Science  Skills * Programming Languages: Python (pandas...
1   Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2   Data Science  Areas of Interest Deep Learning, Control Syste...
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4   Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7   Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...
9   Data Science  Expertise â Data and Quantitative Analysis â...
10  Data Science  Skills * Programming Languages: Python (pandas...
11  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
12  Data Science  Areas of Interest Deep Learning, Control Syste...
13  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
14  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
15  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
16  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
17  Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
18  Data Science  Personal Skills â¢ Ability to quickly grasp t...
19  Data Science  Expertise â Data and Quantitative Analysis â...

In [45]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
    
rd['cleaned_resume'] = rd.Resume.apply(lambda x: cleanResume(x))
rd.head(20)

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",SKILLS C Basics IOT Python MATLAB Data Science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,Skills Python Tableau Data Visualization R Stu...
7,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,Education Details B Tech Rayat and Bahra Insti...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,Personal Skills Ability to quickly grasp techn...
9,Data Science,Expertise â Data and Quantitative Analysis â...,Expertise Data and Quantitative Analysis Decis...
10,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
11,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...
12,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
13,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
14,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...
15,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",SKILLS C Basics IOT Python MATLAB Data Science...
16,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,Skills Python Tableau Data Visualization R Stu...
17,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,Education Details B Tech Rayat and Bahra Insti...
18,Data Science,Personal Skills â¢ Ability to quickly grasp t...,Personal Skills Ability to quickly grasp techn...
19,Data Science,Expertise â Data and Quantitative Analysis â...,Expertise Data and Quantitative Analysis Decis...

In [46]:
import pandas as pd



# Write the modified data to a new CSV file
new_file_name = 'new_modified_data1.csv'  # Name for the new CSV file
rd.to_csv(new_file_name, index=False)  # Specify index=False to avoid writing row indices

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",SKILLS C Basics IOT Python MATLAB Data Science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,Skills Python Tableau Data Visualization R Stu...
7,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,Education Details B Tech Rayat and Bahra Insti...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,Personal Skills Ability to quickly grasp techn...
9,Data Science,Expertise â Data and Quantitative Analysis â...,Expertise Data and Quantitative Analysis Decis...
10,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
11,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May 2013 to May 2017 B E UIT...
12,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
13,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
14,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...
15,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",SKILLS C Basics IOT Python MATLAB Data Science...
16,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,Skills Python Tableau Data Visualization R Stu...
17,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,Education Details B Tech Rayat and Bahra Insti...
18,Data Science,Personal Skills â¢ Ability to quickly grasp t...,Personal Skills Ability to quickly grasp techn...
19,Data Science,Expertise â Data and Quantitative Analysis â...,Expertise Data and Quantitative Analysis Decis...

In [25]:
#Splitting the data in X and Y

Category=rd['Category']
print(Category.head())
cleaned_resumes=rd['cleaned_resume']
print(cleaned_resumes.head())

0    Data Science
1    Data Science
2    Data Science
3    Data Science
4    Data Science
Name: Category, dtype: object
0    Skills Programming Languages Python pandas num...
1    Education Details May 2013 to May 2017 B E UIT...
2    Areas of Interest Deep Learning Control System...
3    Skills R Python SAP HANA Tableau SAP HANA SQL ...
4    Education Details MCA YMCAUST Faridabad Haryan...
Name: cleaned_resume, dtype: object

In [27]:
from nltk import FreqDist

keywords_per_category = {}

for Category, text in zip(Category, cleaned_resumes):
    tokens = text.split()  # Tokenization can also be done using NLTK's word_tokenize
    freq_dist = FreqDist(tokens)
    top_keywords = [word for word, frequency in freq_dist.most_common(10)]  # Change the number for top keywords
    
    keywords_per_category[Category] = top_keywords

# Display extracted keywords for each category
for category, keywords in keywords_per_category.items():
    print(f"Category: {Category}")
    print("Keywords:", keywords)

Category: Testing
Keywords: ['Data', 'and', 'to', 'the', 'of', 'Science', 'a', 'for', 'is', 'Exprience']
Category: Testing
Keywords: ['Exprience', '6', 'to', 'Details', 'months', 'C', 'MATLAB', 'DBMS', 'and', 'skills']
Category: Testing
Keywords: ['Maharashtra', 'Details', 'Mumbai', 'January', '2014', 'university', 'board', 'Hard', 'working', 'Quick']
Category: Testing
Keywords: ['I', 'Maharashtra', 'Board', 'State', 'Details', 'Asst', 'Professor', 'Months', 'Skill', 'Name']
Category: Testing
Keywords: ['and', 'in', 'of', 'Exprience', '24', 'months', 'Nagpur', 'Secondary', 'as', 'Web']
Category: Testing
Keywords: ['ENGINEERING', 'S', 'plastering', 'and', 'to', 'Details', 'January', 'a', 'Automated', 'machine']
Category: Testing
Keywords: ['and', 'I', 'the', 'is', 'Details', 'Sales', 'business', 'by', 'Skill', 'which']
Category: Testing
Keywords: ['and', 'the', 'in', 'to', 'of', 'with', 'a', 'GOQii', 'Nutrition', 'Health']
Category: Testing
Keywords: ['Details', 'January', 'Civil', 'Maharashtra', 'of', 'AUTOCAD', 'Engineering', 'Nagpur', 'University', 'and']
Category: Testing
Keywords: ['and', 'with', 'Java', 'requirements', 'to', 'of', 'in', 'Exprience', 'development', 'for']
Category: Testing
Keywords: ['cash', 'Maintain', 'to', 'team', 'on', 'MIS', 'in', 'Working', 'and', 'of']
Category: Testing
Keywords: ['SAP', 'in', 'and', 'Exprience', 'of', 'months', 'Experience', 'ABAP', '7', 'team']
Category: Testing
Keywords: ['and', 'Good', 'Testing', 'of', 'in', 'knowledge', '6', 'Excellent', 'testing', 'months']
Category: Testing
Keywords: ['of', 'and', 'Maintenance', 'to', 'Electrical', 'Pune', 'Equipment', 'Machine', 'Panel', 'Motor']
Category: Testing
Keywords: ['the', 'and', 'of', 'for', 'with', 'to', 'all', 'project', 'client', 'GES']
Category: Testing
Keywords: ['Exprience', 'of', 'python', '12', 'months', 'MS', 'and', 'Details', 'the', 'requirements']
Category: Testing
Keywords: ['and', 'the', 'o', 'of', 'for', 'to', 'build', 'with', 'commerce', 'Nendrasys']
Category: Testing
Keywords: ['of', 'and', 'Network', 'Server', 'Servers', 'Configuration', 'Cisco', 'etc', 'the', 'for']
Category: Testing
Keywords: ['and', 'for', 'of', 'to', 'with', 'as', 'the', 'Exprience', 'requirements', 'a']
Category: Testing
Keywords: ['and', 'to', 'Oracle', 'with', 'Exprience', 'a', '30', 'months', 'business', 'SKILLS']
Category: Testing
Keywords: ['the', 'and', 'to', 'data', 'Pune', 'The', 'from', 'using', 'of', 'on']
Category: Testing
Keywords: ['knowledge', 'I', 'and', 'to', 'of', 'ETL', 'as', 'yes', 'the', 'Details']
Category: Testing
Keywords: ['NET', 'Exprience', 'months', 'ASP', 'MVC', '15', '1', 'is', 'Technologies', 'JQuery']
Category: Testing
Keywords: ['company', 'description', 'and', 'of', 'to', '2017', 'IIT', 'Exprience', 'And', 'Computer']
Category: Testing
Keywords: ['Windows', 'Testing', 'months', '6', 'XP', '8', 'Web', 'Exprience', '7', '1']

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF Vectorization
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(cleaned_resumes)

# Function to identify category based on keywords
def identify_category(text):
    query_vect = vectorizer.transform([text])
    similarities = cosine_similarity(query_vect, tfidf_matrix)
    category_index = similarities.argmax()
    return rd.iloc[category_index]['Category']

# Test with a sample resume text
sample_resume_text = "java,sql,python"
predicted_category = identify_category(sample_resume_text)
print("Predicted Category:", predicted_category)

Predicted Category: Python Developer